rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to read and write to the fields collection if they're authenticated
    match /fields/{document=**} {
      allow read, write: if request.auth != null;
    }
    
    // Allow users to read and write to the distance_measurements collection if they're authenticated
    match /distance_measurements/{document=**} {
      allow read, write: if request.auth != null;
    }
    
    // Allow users to read and write to the markers collection if they're authenticated
    match /markers/{document=**} {
      allow read, write: if request.auth != null;
    }
    
    // Allow users to read and write to the fieldOwnerDetails collection if they're authenticated
    match /fieldOwnerDetails/{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}      